{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="globale">
    <div class="personna">
            <select class="pe-dropbox" id="select">
                {% for user in utilisateurs %}
                    <option value="{{ user.id }}">{{ user.prenom }}</option>
                {% endfor %}
            </select>
            <input class="pe-input" type="submit" value="Analyser" onclick="redirect()">

    </div>
    <div class="container1">
        <div class="banania1">
            <h2>Score personel</h2>
            <div class="graph1"></div>
            <p>Nom : {{ utilisateur.nom }} <br>
            Prenom : {{ utilisateur.prenom }} <br>
            Age : {{ utilisateur.age}} ans</p>
        </div>
        <div class="banania2">
            <h2>Details score</h2>
            <div class="graph2"></div>
            <button type="button" class="btn">Améliorer votre score !</button>
        </div>
        <div class="banania3">
            <h2>Score classe</h2>
            <div class="graph3"></div>
            <div class="listecouleur">
                <div class="listcoulelem">
                    <div class="coul1"></div>
                    <p class="textcoul">{{ utilisateur.mental }}</p>
                </div>
                <div class="listcoulelem">
                    <div class="coul2"></div>
                    <p class="textcoul">{{ utilisateur.savoir }}</p>
                </div>
                <div class="listcoulelem">
                    <div class="coul3"></div>
                    <p class="textcoul">{{ utilisateur.physique }}</p>
                </div>
                <div class="listcoulelem">
                    <div class="coul4"></div>
                    <p class="textcoul">{{ utilisateur.Sociabilite }}</p>
                </div>
                <div class="listcoulelem">
                    <div class="coul5"></div>
                    <p class="textcoul">{{ utilisateur.moyenne}}</p>
                </div>
            </div>
        </div>


    </div>
</div>
{% endblock %}
